/Binaries
/Intermediate
/Saved
.vs/Crossfire/v17/ipch/f0e2ac6c721c6c55.ipch
.vs/Crossfire/v17/Browse.VC.db
Binaries/Win64/Crossfire.exe
Build/Windows/Crossfire/Content/Paks/Crossfire-Windows.ucas
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
Build/Windows/Crossfire/Binaries/Win64/Crossfire.exe
Build/Windows/Crossfire/Binaries/Win64/Crossfire.pdb